@font-face
  font-family: 'Inter'
  src: url('./fonts/Inter/Inter-Regular.ttf') format('truetype')
  font-weight: 400
  font-style: normal

@font-face
  font-family: 'Inter'
  src: url('./fonts/Inter/Inter-Bold.ttf') format('truetype')
  font-weight: 700
  font-style: normal

@font-face
  font-family: 'Inter'
  src: url('./fonts/Inter/Inter-Medium.ttf') format('truetype')
  font-weight: 500
  font-style: normal

@font-face
  font-family: 'Inter'
  src: url('./fonts/Inter/Inter-Light.ttf') format('truetype')
  font-weight: 300
  font-style: normal

@font-face
  font-family: 'Inter'
  src: url('./fonts/Inter/Inter-Thin.ttf') format('truetype')
  font-weight: 100
  font-style: normal

@font-face
  font-family: 'Inter'
  src: url('./fonts/Inter/Inter-ExtraLight.ttf') format('truetype')
  font-weight: 200
  font-style: normal

@font-face
  font-family: 'Inter'
  src: url('./fonts/Inter/Inter-SemiBold.ttf') format('truetype')
  font-weight: 600
  font-style: normal

@font-face
  font-family: 'Inter'
  src: url('./fonts/Inter/Inter-ExtraBold.ttf') format('truetype')
  font-weight: 800
  font-style: normal

@font-face
  font-family: 'Inter'
  src: url('./fonts/Inter/Inter-Black.ttf') format('truetype')
  font-weight: 900
  font-style: normal
body
  font-family: 'Inter', sans-serif !important
.custom-btn-warning
  background-color: #FFD2881c !important
  color: #000 !important
  border: 1px solid #FFD288 !important
.custom-btn-primary
  background-color: #21ba451c !important
  color: #000 !important
  border: 1px solid #F1FDE8 !important
.custom-btn-negative
  background-color: #FF3D001c !important
  color: #000 !important
  border: 1px solid #FF3D00 !important
.custom-btn-muted
  background-color: #bdb4b41c !important
  color: #000 !important
  border: 1px solid #bdb4b4 !important
.bg-negative-light
  background:#FFF7EB !important
.bg-positive-light
  background:#EFF8FF !important
%tag-style
  font-size: 12px
  font-weight: 400
  border-radius: 2px
%tag-border-style
  border-radius: 8px !important
.tag-positive-light
  @extend %tag-style
  border: 1px solid #75cfff

.tag-warning-light
  @extend %tag-style
  border: 1px solid #FFB54A
.text-h7
  font-weight: 700 !important
  font-size: 17px !important
.card-authentication
  height: 75vh
  justify-items: center
  .card-auth
    background: linear-gradient(183.42deg, rgba(255, 255, 255, 0.08) 2.82%, rgba(255, 255, 255, 0.01) 97.18%)
    width: 534px
    // height: 568px
    border-radius: 8px
    padding: 48px
    gap: 24px
.notify-success
  border-radius: 8px
  border-width: 1px
  background: linear-gradient(183.42deg, rgba(255, 255, 255, 0.08) 2.82%, rgba(255, 255, 255, 0.01) 97.18%)
  border: 1px solid var(--success-500, #52C41A)
  box-shadow: 0px 0px 12px 6px #74E23929
.control-width
  .q-dialog__inner
    min-width: 20% !important
    max-width: 60% !important
.control-width-compare
  .q-dialog__inner
    min-width: 30% !important
    max-width: 80% !important
.control-width-historic
  .q-dialog__inner
    min-width: 50% !important
    max-width: 80% !important
.border-radius-pattern
  border-radius: 8px !important
.border-pattern
  background:#FAFAFA !important
  border-radius: 8px !important
  border: 1px solid #74E23929 !important
.border-gray
  @extend %tag-border-style
  border: 1px solid #E0E0E0 !important
.outline
  border: 1px solid currentColor !important
.q-btn__icon 
  color: inherit !important
.text-compara
  font-weight: 500 !important
.text-title
  font-weight: 700 !important
  font-size:14px !important
  color: #333 !important
.d-grid-g14
  display: grid !important
  gap: 14px !important